body{
    box-sizing: border-box;
}
a{  
    text-decoration: none;
}
.wrapper{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    box-sizing: content-box;
}

/* header */
header{
    padding: 50px 0 25px;
}
header h1{
    font-size: 37px;
    font-weight: bold;
}

/* 검색 영역 */
.search-section .search-form{
    display: block;
    height: 40px;
    max-width: 550px;
    margin: 0 auto;
    padding: 30px 0 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.search-section .search-form input[type=text]{
    display: block;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}
.search-section .search-btn{
    display: block;
    width: 10%;
    height: 100%;
    box-sizing: border-box;
}

/* 뉴스 영역 */
.news-section{
    margin-top: 25px;
    text-align: left;
    box-sizing: border-box;
}
.news-lists{
    padding: 25px 0;
    text-align: center;
}
.news{
    width: 100%;
    height: 225px;
    margin-bottom: 60px;
}
.news>a{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.news-thumbnail{
    width: 30%;
    height: 100%;
}
.news-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-contents{
    width: 70%;
    padding: 0 15px;
    box-sizing: border-box;
    color: #5F5F5F;
}
.news-info{
    margin-bottom: 30px;
}
.news-info>span{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.news-info>span.news-author{
    margin-right: 15px;
}
.news-info>span.news-date{
    color: #A5A5A5;
}
.news-title{
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    max-height: 3em;
}
.news-description{
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    max-height: 2.6em;
}
.noResult{
    font-size: 17px;
    font-weight: bold;
}

/* 미디어쿼리 - 태블릿,모바일화면 */
@media screen and (max-width:768px) {
    .search-section .search-form{
        padding: 10px 15px 30px;
    }
    .search-section .search-form input[type=text]{
        width: 85%;
    }
    .search-section .search-btn{
        width: 15%;
    }
    .news-section{
        margin-top: 0;
    }
    .news{
        height: auto;
        border: 1px solid #A5A5A5;
    }
    .news>a{
        display: block;
    }
    .news-thumbnail{
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    .news-thumbnail img{
        height: 300px;
    }
    .news-contents{
        width: 100%;
        padding: 0 15px 15px;
    }
    .news-info{
        margin-bottom: 10px;
    }
    .news-title{
        margin-bottom: 10px;
    }
}